$fontsize: 1em;
$font: "Sarabun";
$fontsrc: local("Sarabun"), url(./../assets/fonts/Sarabun/Sarabun-Medium.ttf) format("truetype");
$color: #525151;
@font-face {
    font-family: $font;
    src: $fontsrc;
}
@mixin font-family() {
    font-family: $font;
    color: $color;
}
@mixin outline() {
    border: none;
    outline: none;
}
hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
    margin-top: 0.3em;
}

.css-panel {
    @include font-family();
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding-bottom: 3em;
    padding-top: 1.9em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    width: 70%;
    row-gap:20px;
    column-gap: 30px;
}


